.card .card-image,
.card .card-image .image img {
  height: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around; 
    margin: 10px;   
}

.result-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}


.btn-01.is-active {
    display: block;
}
  